.music-visualization {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &.loading {
    canvas, .control-zone {
      display: none;
    }
  }
  &.loaded {
    .loading-mask {
      display: none;
    }
  }
  .loading-mask {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    flex-direction: column;
  }
  .control-zone {
    display: flex;
    align-items: center;
    width: 70vw;
    height: 5rem;
    .icon{
      font-size: 2rem;
    }
    .slider {
      width: 100%;
    }
  }
}