@hilight-color: #dc6666;
@empty-color: #c7c7c7;
@full-color: #999;

.tetris-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &.mobile {
    display: block;
    .tetris-screen-wrapper .tetris-screen .row .item {
      width: 12px;
      height: 12px;
      margin: 0 1px 1px 0;
      border: 2px solid @empty-color;
      &:after {
        width: 4px;
        height: 4px;
      }
      &.block {
        border: 3px solid #000;
        &:after {
          background: #000;
        }
      }
    }
    .btn-wrapper {
      display: flex;
    }
  }
  .tetris-screen-wrapper {
    position: relative;
    margin: 0 20%;
    text-align: center;
    .tetris-screen {
      background-color: #dcdcdc;
      padding: 10px;
      border-radius: 8px;
      position: relative;   
      display: inline-block; 
      // transition: transform .1s;
      &.touch-buttom {
        transform: translateY(5px);
      }
      .game-over {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, .5);
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
      }
      .row {
        display: block;
        overflow: hidden;
        zoom: 1;
        .item {
          width: 20px;
          height: 20px;
          padding: 2px;
          border: 2px solid @empty-color;
          margin: 0 2px 2px 0;
          float: left;
          &.block {
            border: 2px solid #000;
            &:after {
              background: #000;
            }
          }
          &.full {
            border: 2px solid @full-color;
            animation: hilight 300ms ease-in-out forwards;
            &:after {
              background: @full-color;
            }
          }
          &.cleared {
            animation: twinkle 500ms ease-in-out forwards;
          }
          &:after {
            content: "";
            display: block;
            width: 12px;
            height: 12px;
            background: @empty-color;
            overflow: hidden;
          }
        }
      }
    }
    .score {
      font-size: 2rem;
    }
  }
  
  .btn-wrapper {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 1rem;
    display: none;
    .functional-btn {
      flex: .6;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
    }
    .direction {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      .middle {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 10.5rem;
      }
    }
    
    .anticon {
      font-size: 3.5rem;
      transform: scale(1);
      opacity: .5;
      transition: all .1s linear;
      &:active {
        color: #000;
      }
    }
  }
}
@keyframes hilight {
  50% {
    background-color: @hilight-color;
  }
}
@keyframes twinkle {
  25% {
    background-color: @hilight-color;
  }
  50% {
    background-color: inherit;
  }
  75% {
    background-color: @hilight-color;
  }
  100% {
    background-color: inherit;
  }
}