.logo {
  height: 50px;
  background: #f0f2f5;
  border: 10px solid #fff;
  border-left: 20px solid #fff;
  border-right: 20px solid #fff;
}
.left-menu {
  .menu-item-link {
    display: inline-block;
    .collapsed {
      display: none;
    }
  }
}
.navbar {
  background: #fff;
  .icon,
  .logout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 56px;
    font-size: 18px;
  }
  .icon {
    float: left;
  }
  .logout {
    float: right;
  }
  &:after {
    clear: both;
  }
}