.logo {
  height: 50px;
  background: #f0f2f5;
  border: 10px solid #fff;
  border-left: 20px solid #fff;
  border-right: 20px solid #fff;
}
.left-menu {
  .menu-item-link {
    display: inline-block;
    .collapsed {
      display: none;
    }
  }
}
.navbar {
  transition: all 200ms;
  background: #fff;
  position: absolute;
  bottom: 40px;
  top: 0;
  z-index: 1;
  height: 100%;
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 40px;
    width: 40px;
    font-size: 18px;    
    box-shadow: 2px 2px 8px rgba(0,0,0,.15);
    position: absolute;
    background-color: #fff;
    right: -40px;
    bottom: 60px;
  }
}
.mask {
  height: 100%;
  position: absolute;
  width: 100%;
  background: #000;
  opacity: .3;
  z-index: 2;
}