.gana-wrapper {
  display: flex;
  flex-direction: column;
  .btn-wrapper {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  .item-wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
    padding: 15px 0;
    .item {
      border: 1px solid #dcdcdc;
      font-size: 60px;
      height: 70px;
      line-height: 70px;
      width: 70px;
      margin: 5px;
      cursor: pointer;
      text-align: center;
    }
  }
}
