.gana-wrapper {
  overflow: auto;
  .item-wrapper {
    display: flex;
    flex-wrap: wrap;
    .item {
      border: 1px solid #dcdcdc;
      font-size: 60px;
      height: 70px;
      line-height: 70px;
      width: 70px;
      margin: 5px;
      cursor: pointer;
    }
  }
  .refresh-btn {
    position: fixed;
    right: 40px;
    bottom: 60px;
  }
}
