@import '../../variables.less';

.home {
  display: block;
  height: 100%;
  width: 100%;
  // padding: 0 @space-base;
  .video {
    position: absolute;
  }
  .canvas {
    position: absolute;
    z-index: 2;
  }
  #content {
    width: 100%;
    z-index: 100;
    height: 100px;
    color: red;
    position: absolute;
  }
}
.empty {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}