.home-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .svg-wrapper {
    display: flex;
    position: fixed;
    height: 100%;
    justify-content: center;
    align-items: center;
    svg {
      height: 200px;
      path {
        stroke-dashoffset: 2000;
        stroke-dasharray: 2000;
      }
    }
  }
  .scroll-wrapper {
    height: 3500px;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    .top {
      position: absolute;
      top: 2rem;
      font-size: 2rem;
      animation: goingdown .5s infinite;
      animation-direction: alternate;
    }
    .bottom {
      position: absolute;
      bottom: 6rem;
      font-size: 2rem;
    }
  }
}

@keyframes goingdown {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}