.watermelon-wrapper {
  position: relative;
  background-color: #dcdcdc;
  .btn-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 5px 60px;
  }
}