.dual-match-3-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .game-area {
    position: relative;
    height: 350px;
    width: 350px;
    .item {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      position: absolute;
      background: aqua;
      display: flex;
    }
  }
  .svg-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}