.calender-wrapper {
  display: inline-block;
  position: relative;
  .left, .right {
    top: 5px;
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
  }
  .left {
    left: 18px;
    text-align: left;
  }
  .right {
    right: 18px;
    text-align: right;
  }
  .calender {
    display: inline-block;
    padding: 10px;
    .year-month {
      text-align: center;
    }
    .c-row {
      .item {
        display: inline-block;
        height: 30px;
        width: 30px;
        line-height: 30px;
        margin-bottom: 5px;
        text-align: center;
        &.date {
          cursor: pointer;
          &:hover {
            color: #409eff;
          }
        }
        .item-inner {
          width: 24px;
          height: 24px;
          border-radius: 100px;
          display: block;
          margin: 2px;
          line-height: 24px;
        }
        &.selectedFrom,
        &.selectedTo {
          color: #fff;
          background-color: #d4e6fe;
          &:hover {
            color: #fff;
          }
          .item-inner {
            background-color: #2182fc;
          }
        }
        &.selectedFrom {
          border-top-left-radius: 100px;
          border-bottom-left-radius: 100px;
        }
        &.selectedTo {
          border-top-right-radius: 100px;
          border-bottom-right-radius: 100px;
        }
        &.in-range {
          background-color: #d4e6fe;
        }
      }
    }
  }
}