@space: .7rem;
@size: 6rem;
@step: @space + @size;
@fontSize: 4rem;

@mobileSpace: .5rem;
@mobileSize: 4rem;
@mobileStep: @mobileSpace + @mobileSize;
@mobileFontSize: 3rem;

.game2048-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  .game2048-container {
    margin: 0 auto;
    padding: @space;
    background-color: #bbada0;
    border-radius: 6px;
    position: relative;
    .grid {
      .row {
        display: flex;
        &:not(:last-child) {
          margin-bottom: @space;
        }
        .item {
          width: @size;
          height: @size;
          background-color: rgba(238, 228, 218, 0.35);
          border-radius: 3px;
          &:not(:last-child) {
            margin-right: @space;
          }
        }
      }
    }
    .piece-contanier {
      position: absolute;
      top: 0;
      left: 0;
      padding: @space;
      .piece-position(4);
      .piece {
        width: @size;
        height: @size;
        border-radius: 3px;
        background-color: #eee4da;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform .3s;
        position: absolute;
        &.merged {
          animation: fadeout 300ms 1 forwards;
        }
        .item {
          animation: showFromNothing 300ms 1 forwards;
          font-weight: bold;
          font-size: @fontSize;
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .game2048-wrapper .game2048-container  {
    padding: @mobileSpace;
    .grid .row {
      &:not(:last-child) {
        margin-bottom: @mobileSpace;
      }
      .item {
        width: @mobileSize;
        height: @mobileSize;
        &:not(:last-child) {
          margin-right: @mobileSpace;
        }
      }
    }
    .piece-contanier {
      padding: @mobileSpace;
      .piece-position-mobile(4);
      .piece {
        width: @mobileSize;
        height: @mobileSize;
        .item {
          font-weight: bold;
          font-size: @mobileFontSize;
        }
      }
    }
  }
}

.piece-position (@n, @i:0) when (@i < 4) {
  .piece-position-item(@i);
  .piece-position(@n, @i + 1)
}

.piece-position-item(@n, @i:0) when (@i < 4)  {
  .piece-position-@{n}-@{i} {
    transform: translate((@step * @n), (@step * @i));
  }
  .piece-position-item(@n, @i + 1)
}

.piece-position-mobile (@n, @i:0) when (@i < 4) {
  .piece-position-item-mobile(@i);
  .piece-position-mobile(@n, @i + 1)
}

.piece-position-item-mobile(@n, @i:0) when (@i < 4)  {
  .piece-position-@{n}-@{i} {
    transform: translate((@mobileStep * @n), (@mobileStep * @i));
  }
  .piece-position-item-mobile(@n, @i + 1)
}