@import '~antd/dist/antd.css';

.ant-layout {
  transition: all .2s;
  .content-wrapper {
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    .content {
      position: relative;
      flex: 1;
    }
  }
}
