@import '~antd/dist/antd.css';

.ant-layout {
  transition: all .2s;
  .content-wrapper {
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    .content {
      height: 100%;
      position: relative;
      display: flex;
      background-color: #fff;
      border-radius: 5px;
      overflow: auto;
    }
  }
}
