@import '~antd/lib/style/color/colors.less';

.ant-layout {
  .content-wrapper {
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    .content {
      height: 100%;
      position: relative;
      display: flex;
      background-color: #fff;
      border-radius: 5px;
    }
  }
  .ant-layout-sider{
    background-color: #fff;
    
    .ant-layout-sider-trigger {
      background-color: #fff;
      border-top: 1px solid #f8f8f8;
      color: #000;
    }
  }
}
.ant-menu-inline,
.ant-menu-vertical{
  border: none!important;
}
.ant-popover-inner-content {
  padding: 0!important;
}
.ant-layout-sider {
  overflow: hidden!important;
}
.ant-popover-inner {
  padding: 10px;
}
.anticon.anticon-exclamation-circle {
  display: none;
}

@keyframes scale {
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes showMove {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showMoveAndScale {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
